{% extends 'base.html' %}
{% load static %}
{% block body %}

	<!-- Home Design -->
	<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 offset-xl-3 text-center">
					<div class="breadcrumb_content">
						<h4 class="breadcrumb_title">Blog</h4>
						<ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Blog</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Main Blog Post Content -->
	<section class="blog_post_container">
		<div class="container">
			<div class="row">
				<div class="col-12 ">
					<div class="main_blog_post_content">
						<div class="mbp_thumb_post">
							<div class="">
								<img class="" style="width:100%; height:800px;"  src="{{blog.image.url}}" alt="12.jpg">
								
							</div>
							<div class="details">
								<h3>{{blog.title}}</h3>
								
								<h4>Description</h4>
								<p>{{blog.short_description}}</p>
								<h4 class="mb0">Content</h4>
								{{blog.topic|safe}}
							</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>

	{% endblock %}